@layer base {
    @font-face {
        font-family: "Poppins";
        src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Noto Serif Jp";
        src: url("../assets/fonts/NotoSerifJP-VariableFont_wght.ttf") format("truetype");
    }
    @font-face {
        font-family: "Gulzar";
        src: url("../assets/fonts/Gulzar-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Amiri";
        src: url("../assets/fonts/Amiri-Regular.ttf") format("truetype");
    }


}